.home{
  margin-top: 2rem;
  .img-circle-yeti {
    @include circle(30%, 30%);
    margin-bottom: 40px;
  }
  table {
    width: 100%;
  }
  .check-btn{
    margin-top: 21px;
    height: 2.3125rem;
    padding: 9px 1.5rem;
  }
}

