.bg-pic {
  background: url(https://thehyperionhotel.files.wordpress.com/2013/05/pattern_wallpaper_01.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: repeat;
  background-attachment: fixed;
  z-index: -1;
  position: fixed;
}
.home{
  padding: 2rem 0;
  background: rgba(0, 0, 0, 0.4);
  .home-container{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
  }
  .form {
    background: whitesmoke;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid gainsboro;
  }
  .panel{
    background: whitesmoke;
  }
  .options-title{
    padding: 10px 10px;
    margin: 0;
    border: 1px solid gainsboro;
    border-bottom: none;
    background: whitesmoke;
  }
  table {
    width: 100%;
    thead{
      tr{
        background: white;
        border: 1px solid gainsboro;
      }
    }
  }
  .check-btn{
    margin-top: 21px;
    height: 2.3125rem;
    padding: 9px 1.5rem;
  }
}

