.zurb-footer-bottom {
  background: #02214c;
  padding: 20px;
  .bd-logo {
    color: #666666;
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
    width: 100px;
    vertical-align: text-bottom;
  }
  .zurb-links {
    margin: 0;
    display: inline-block;
    padding-bottom: 0px;
    li {
      display: block;
      float: left;
      margin-left: 6px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.75rem;
    }
    a {
      color: #666;
      padding: 3px 6px;
    }
  }
  .copyright {
    margin: 6px 0 0;
    font-size: 0.75rem;
    color: #666;
  }
}
