<!--<div class="bg-pic"></div>-->
<div class="home" ng-controller="HomeCtrl">
  <div class="row">
    <div class="large-12 home-container columns">
      <div class="header">
        <h3>The Albert at Bay Suite Hotel</h3>
        <p class="sub-headline">
          435 rue Albert Street, Ottawa ON K1R 7X4
        </p>
      </div>
      <div class="form">
        <form>
          <div class="row">
            <div class="medium-3 columns">
              <label>Check-in
                <input type="date">
              </label>
            </div>
            <div class="medium-3 columns">
              <label>Check-out
                <input type="date">
              </label>
            </div>
            <div class="medium-1 columns">
              <label>adults
                <input type="number" placeholder="2">
              </label>
            </div>
            <div class="medium-1 columns">
              <label>children
                <input type="number" placeholder="0">
              </label>
            </div>
            <div class="medium-4 columns">
              <button type="button" class="button check-btn">Check Availability</button>

            </div>
          </div>
        </form>
      </div>


      <div data-magellan-expedition="fixed">
        <dl class="sub-nav">
          <dd data-magellan-arrival="available_rooms"><a href="#available_rooms">Available rooms</a></dd>
          <dd data-magellan-arrival="gallery"><a href="#gallery">Gallery</a></dd>
          <dd data-magellan-arrival="about_the_hotel"><a href="#about_the_hotel">About the hotel</a></dd>
          <dd data-magellan-arrival="amenities"><a href="#amenities">Amenities</a></dd>
          <dd data-magellan-arrival="reviews"><a href="#reviews">Reviews</a></dd>
          <dd data-magellan-arrival="map"><a href="#map">Map</a></dd>
        </dl>
      </div>

      <div>

        <div class="content" id="available_rooms">

          <table>
            <tbody>
            <tr>
              <td width="291">
                <a class="th">
                  <img src="http://www.albertatbay.com/images/guest-suites/queen-one-bed-thumb.jpg">
                </a>
              </td>
              <td class="tabel">
                <h5 class="options-title">QUEEN ONE BEDROOM SUITE</h5>

                <table>
                  <thead>
                  <tr>
                    <th width="200">Options</th>
                    <th>Deal includes</th>
                    <th width="150">Price / night</th>
                    <th width="150">gross price / 3 nights</th>
                    <th width="150"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <ul>
                        <li>non-refundable</li>
                        <li>FREE internet</li>
                        <li>breakfast included</li>
                      </ul>
                    </td>
                    <td>free internet, breakfast include</td>
                    <td>232$</td>
                    <td>696$</td>
                    <td>
                      <button type="button" class="success button">Book</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>

            </tr>
            </tbody>
          </table>


          <table>
            <tbody>
            <tr>
              <td width="291">
                <a class="th">
                  <img src="http://www.albertatbay.com/images/guest-suites/king-one-bed-thumb.jpg">
                </a>
              </td>
              <td class="tabel">
                <h5 class="options-title">SUPERIOR KING ONE BEDROOM SUITE</h5>

                <table>
                  <thead>
                  <tr>
                    <th width="200">Options</th>
                    <th>Deal includes</th>
                    <th width="150">Price / night</th>
                    <th width="150">gross price / 3 nights</th>
                    <th width="150"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <ul>
                        <li>non-refundable</li>
                        <li>FREE internet</li>
                        <li>breakfast included</li>
                      </ul>
                    </td>
                    <td>free internet, breakfast include</td>
                    <td>232$</td>
                    <td>696$</td>
                    <td>
                      <button type="button" class="success button">Book</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>

            </tr>
            </tbody>
          </table>
        </div>

        <div class="content" id="gallery">
          <ul class="example-orbit" data-orbit>
            <li>
              <img src="http://q-ec.bstatic.com/images/hotel/840x460/146/14636720.jpg" alt="slide 1"/>
              <div class="orbit-caption">
                Caption 1.
              </div>
            </li>
            <li class="active">
              <img src="http://r-ec.bstatic.com/images/hotel/840x460/146/14635758.jpg" alt="slide 2"/>
              <div class="orbit-caption">
                Caption 2.
              </div>
            </li>
            <li>
              <img src="http://r-ec.bstatic.com/images/hotel/840x460/586/5869095.jpg" alt="slide 3"/>
              <div class="orbit-caption">
                Caption 3.
              </div>
            </li>
            <li>
              <img src="http://q-ec.bstatic.com/images/hotel/840x460/146/14636833.jpg" alt="slide 3"/>
              <div class="orbit-caption">
                Caption 4.
              </div>
            </li>
            <li>
              <img src="http://q-ec.bstatic.com/images/hotel/840x460/146/14638239.jpg" alt="slide 3"/>
              <div class="orbit-caption">
                Caption 5.
              </div>
            </li>
          </ul>

        </div>
        <div class="content" id="about_the_hotel">
          <h5 class="options-title">About the hotel</h5>

          <div class="panel">
            <div id="hotel-description">


              <div class="row">
                <div class="columns large-2">
                  <strong>Address</strong>
                </div>
                <div class="columns large-10">
                    <span class="js-toggle-map is-clickable">
                         435 rue Albert Street, Ottawa ON K1R 7X4
                    </span>
                </div>
              </div>


              <div class="row">
                <div class="columns large-2">
                  <strong>Most liked</strong>
                </div>
                <div class="columns large-10">
                  <div class="row">
                    <ul class="list list--rate-attributes clearfix">
                      <li class="list__item columns col--6 medium-4">Elevator/lift</li>
                      <li class="list__item columns col--6 medium-4">Airport transportation (surcharge)</li>
                      <li class="list__item columns col--6 medium-4">Free toiletries</li>
                      <li class="list__item columns col--6 medium-4">Coffee/tea in common areas</li>
                      <li class="list__item columns col--6 medium-4">Free breakfast</li>
                      <li class="list__item columns col--6 medium-4">Multilingual staff</li>
                      <li class="list__item columns col--6 medium-4">Free newspapers in lobby</li>
                      <li class="list__item columns col--6 medium-4">24-hour front desk</li>
                      <li class="list__item columns col--6 medium-4">Dry cleaning/laundry service</li>
                      <li class="list__item columns col--6 medium-4">Tours/ticket assistance</li>
                      <li class="list__item columns col--6 medium-4">Rooftop terrace</li>
                      <li class="list__item columns col--6 medium-4">Luggage storage</li>
                      <li class="list__item columns col--6 medium-4">Beach towels</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="columns large-2">
                  <strong>Hotel Description</strong>
                </div>

                <div class="columns large-10">
                  Near central Ottawa, Ontario attractions such as Parliament Hill, this all-suite hotel offers spacious
                  accommodation with comfortable amenities as well as contemporary facilities. Parliament Hill is 1 km
                  away.
                  <br>
                  Albert at Bay Suite Hotel features one-bedroom suites with fully equipped kitchens, spacious work
                  areas and closet space. Guests can relax on the balcony or use the in-suite free wireless high-speed
                  internet access.
                  <br>
                  After exploring the area, guests can workout in the state-of-the-art fitness centre with
                  cardiovascular equipment.
                  <br>
                  Rideau Canal is 1.7 km from this property. Byward Market is 7 minutes' drive away.
                  <br>
                  This property is also rated for the best value in Ottawa! Guests are getting more for their money when
                  compared to other properties in this city.
                  <br>
                  We speak your language!
                </div>

              </div>

              <div class="row">
                <div class="columns large-2">
                  <strong>Location</strong>
                </div>

                <div class="columns large-10">
                  Near central Ottawa, Ontario attractions such as Parliament Hill
                </div>
              </div>


              <div class="row">
                <div class="columns large-2">
                  <strong>Room details</strong>
                </div>
                <div class="columns large-10">
                  The Albert at Bay Suite Hotel boasts the largest suites in the Nation's Capital. Every suite has the bedroom separate from the living area and a full kitchen.
                  <div class="row">
                    <ul class="list list--rate-attributes clearfix">
                      <li class="list__item columns col--6 medium-4">Air conditioning</li>
                      <li class="list__item columns col--6 medium-4">Refrigerator</li>
                      <li class="list__item columns col--6 medium-4">Coffee/tea maker</li>
                      <li class="list__item columns col--6 medium-4">Daily housekeeping</li>
                      <li class="list__item columns col--6 medium-4">Hair dryer</li>
                      <li class="list__item columns col--6 medium-4">Desk</li>
                      <li class="list__item columns col--6 medium-4">In-room climate control (air
                        conditioning)
                      </li>
                      <li class="list__item columns col--6 medium-4">Shower only</li>
                      <li class="list__item columns col--6 medium-4">In-room safe (laptop compatible)</li>
                      <li class="list__item columns col--6 medium-4">Digital TV service</li>
                      <li class="list__item columns col--6 medium-4">HDTV</li>
                      <li class="list__item columns col--6 medium-4">Down comforter</li>
                      <li class="list__item columns col--6 medium-4">Individually furnished</li>
                      <li class="list__item columns col--6 medium-4">Individually decorated</li>
                      <li class="list__item columns col--6 medium-4">Sleep Number by Select Comfort mattress
                      </li>
                      <li class="list__item columns col--6 medium-4">LCD TV</li>
                      <li class="list__item columns col--6 medium-4">Partially open bathroom</li>
                      <li class="list__item columns col--6 medium-4">Free cribs/infant beds</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="columns large-2">
                  <strong>Food</strong>
                </div>
                <div class="columns large-10">
                  A complimentary breakfast is included.
                </div>
              </div>

              <div class="row">
                <div class="columns large-2">
                  <strong>Options</strong>
                </div>
                <div class="columns large-10">
                  Enjoy recreation amenities such as bicycles to rent or take in the view from a rooftop terrace.
                  Additional features at this hotel include complimentary wireless Internet access and tour/ticket
                  assistance.
                </div>
              </div>

              <div class="row">
                <div class="columns large-2">
                  <strong>Amenities for business travellers</strong>
                </div>
                <div class="columns large-10">
                  Featured amenities include complimentary newspapers in the lobby, dry cleaning/laundry services,
                  and
                  a 24-hour front desk. A roundtrip airport shuttle is provided for a surcharge (available on
                  request).
                </div>
              </div>

              <div class="row">
                <div class="columns large-2">
                  <strong>Internet</strong>
                </div>
                <div class="columns large-10">
                  <p>
                    Available in all rooms:
                    <strong>Free WiFi</strong>, Dial-up Internet access (surcharge)
                  </p>

                  <div>
                    Available in public places:
                    <strong>Free WiFi</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="content" id="amenities"></div>
        <div class="content" id="reviews"></div>
        <div class="content" id="map">
          <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyBdrP88PiW2N7odLcYguEPS4SjcfzZdPI8">
            <ng-map center="[45.4173543,-75.7089704]" zoom="12">
              <marker position="[45.4173543,-75.7089704]"></marker>
            </ng-map>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
