<div class="home" ng-controller="HomeCtrl">
  <div class="row">
    <div class="large-12 columns">
      <h3>Shalom Hotel & Relax</h3>
      <p class="sub-headline">
        Hayarkon 216, 63405 Tel Aviv-Yafo
      </p>
      <div class="form">
        <form>
          <div class="row">
            <div class="medium-3 columns">
              <label>Check-in
                <input type="date">
              </label>
            </div>
            <div class="medium-3 columns">
              <label>Check-out
                <input type="date">
              </label>
            </div>
            <div class="medium-1 columns">
              <label>adults
                <input type="number" placeholder="2">
              </label>
            </div>
            <div class="medium-1 columns">
              <label>children
                <input type="number" placeholder="0">
              </label>
            </div>
            <div class="medium-4 columns">
              <button type="button" class="button check-btn">Check Availability</button>

            </div>
          </div>
        </form>
      </div>


      <h5 class="options-title">Double or Twin STANDARD, Bed Breakfast</h5>
      <table>
        <thead>
        <tr>
          <th width="200">Options</th>
          <th>Deal includes</th>
          <th width="150">Price / night</th>
          <th width="150">gross price / 3 nights</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <ul>
              <li>non-refundable</li>
              <li>FREE internet</li>
              <li>breakfast included</li>
            </ul>
          </td>
          <td>free internet, breakfast include</td>
          <td>232$</td>
          <td>696$</td>
          <td>
            <button type="button" class="success button">Book</button>
          </td>
        </tr>
        </tbody>
      </table>

      <h5 class="options-title">Double or Twin STANDARD, Bed Breakfast</h5>
      <table>
        <thead>
        <tr>
          <th width="200">Options</th>
          <th>Deal includes</th>
          <th width="150">Price / night</th>
          <th width="150">gross price / 3 nights</th>
          <th width="150"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <ul>
              <li>non-refundable</li>
              <li>FREE internet</li>
              <li>breakfast included</li>
            </ul>
          </td>
          <td>free internet, breakfast include</td>
          <td>232$</td>
          <td>696$</td>
          <td>
            <button type="button" class="success button">Book</button>
          </td>
        </tr>
        </tbody>
      </table>


      <ul class="example-orbit" data-orbit>
        <li>
          <img src="http://media.expedia.com/hotels/1000000/120000/118000/117922/a1e3f921_z.jpg" alt="slide 1"/>
          <div class="orbit-caption">
            Caption One.
          </div>
        </li>
        <li class="active">
          <img src="http://media.expedia.com/hotels/1000000/120000/118000/117922/70e72c6d_z.jpg" alt="slide 2"/>
          <div class="orbit-caption">
            Caption Two.
          </div>
        </li>
        <li>
          <img src="http://media.expedia.com/hotels/1000000/120000/118000/117922/4098e4d4_z.jpg" alt="slide 3"/>
          <div class="orbit-caption">
            Caption Three.
          </div>
        </li>
      </ul>


      <h5 class="options-title">Hotel Information</h5>

      <div class="panel">
        <div id="hotel-description">


          <div class="row">
            <div class="columns large-2">
              <strong>Address</strong>
            </div>
            <div class="columns large-10">
                    <span class="js-toggle-map is-clickable">
                        Hayarkon 216, 63405  Tel Aviv-Yafo
                    </span>
            </div>
          </div>


          <div class="row">
            <div class="columns large-2">
              <strong>Most liked</strong>
            </div>
            <div class="columns large-10">
              <div class="row">
                <ul class="list list--rate-attributes clearfix">
                  <li class="list__item columns col--6 medium-4">Elevator/lift</li>
                  <li class="list__item columns col--6 medium-4">Airport transportation (surcharge)</li>
                  <li class="list__item columns col--6 medium-4">Free toiletries</li>
                  <li class="list__item columns col--6 medium-4">Coffee/tea in common areas</li>
                  <li class="list__item columns col--6 medium-4">Free breakfast</li>
                  <li class="list__item columns col--6 medium-4">Multilingual staff</li>
                  <li class="list__item columns col--6 medium-4">Free newspapers in lobby</li>
                  <li class="list__item columns col--6 medium-4">24-hour front desk</li>
                  <li class="list__item columns col--6 medium-4">Dry cleaning/laundry service</li>
                  <li class="list__item columns col--6 medium-4">Tours/ticket assistance</li>
                  <li class="list__item columns col--6 medium-4">Rooftop terrace</li>
                  <li class="list__item columns col--6 medium-4">Luggage storage</li>
                  <li class="list__item columns col--6 medium-4">Beach towels</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="columns large-2">
              <strong>Hotel Description</strong>
            </div>

            <div class="columns large-10">
              Relax in a sophisticated Tel Aviv hotel styled as a beach house. Enjoy the cool breeze and beautiful
              sunsets in the heart of the city, overlooking the Tel Aviv beach.<br>
              The Shalom Hotel &amp; Relax offers 51 rooms designed to pamper guests that want to enjoy the resort
              atmosphere of Tel Aviv, Israel.<br>
              Some rooms (type - Spa) feature attractive sitting areas; others feature bathrooms with a view of
              the beach, while unique romantic spa rooms welcome guests with an indulgent hot tub facing the
              magnificent view. <br>
              <br>
              All guests are welcome to enjoy the amazing rooftop lounge - the perfect spot for an afternoon of
              relaxation
            </div>

          </div>

          <div class="row">
            <div class="columns large-2">
              <strong>Location</strong>
            </div>

            <div class="columns large-10">
              With a stay at Shalom Hotel &amp; Relax, Tel Aviv - an Atlas Boutique Hotel, you'll be centrally
              located in Tel Aviv, steps from Independence Park and minutes from Hilton Beach. This hotel is
              close
              to Gordon Beach and Old Tel Aviv Port.
            </div>
          </div>

          <div class="row">
            <div class="columns large-2">
              <strong>Surroundings</strong>
            </div>

            <div class="columns large-10">
              Distances are calculated in a straight line from the property's location to the point of interest
              or
              attraction, and may not reflect actual travel distance. <br><br> Distances are displayed to the
              nearest 0.1 mile and kilometer. <p>Independence Park - 0.1 km / 0.1 mi <br>Hilton Beach - 0.2 km /
              0.1 mi <br>Nordau Beach - 0.3 km / 0.2 mi <br>Gordon Swimming Pool - 0.5 km / 0.3 mi <br>Ben
              Gurion
              House - 0.5 km / 0.3 mi <br>Tel Aviv Marina - 0.5 km / 0.3 mi <br>Metzitzim Beach - 0.5 km / 0.3
              mi
              <br>Gordon Gallery - 0.7 km / 0.4 mi <br>Gordon Beach - 0.8 km / 0.5 mi <br>Old Tel Aviv Port -
              0.8
              km / 0.5 mi <br>Hanamal Market - 1.1 km / 0.7 mi <br>Tel Aviv City Hall - 1.1 km / 0.7 mi <br>Bauhaus
              Center - 1.1 km / 0.7 mi <br>Frishman Beach - 1.2 km / 0.7 mi <br>Rabin Memorial - 1.2 km / 0.7 mi
              <br></p>
              <p>The nearest airports are:<br>Tel Aviv (SDV-Sde Dov) - 2.3 km / 1.4 mi<br>Tel Aviv (TLV-Ben
                Gurion) - 13.5 km / 8.4 mi<br></p>
              <p>The preferred airport for Shalom Hotel &amp; Relax, Tel Aviv - an Atlas Boutique Hotel is Tel
                Aviv (TLV-Ben Gurion). </p>
            </div>
          </div>


          <div class="row">
            <div class="columns large-2">
              <strong>Room details</strong>
            </div>
            <div class="columns large-10">
              Make yourself at home in one of the 51 individually decorated guestrooms, featuring refrigerators
              and LCD televisions. Your Select Comfort bed comes with down comforters. Complimentary wireless
              Internet access keeps you connected, and digital programming is available for your entertainment.
              Partially open bathrooms with showers feature complimentary toiletries and hair dryers.
              <div class="row">
                <ul class="list list--rate-attributes clearfix">
                  <li class="list__item columns col--6 medium-4">Air conditioning</li>
                  <li class="list__item columns col--6 medium-4">Refrigerator</li>
                  <li class="list__item columns col--6 medium-4">Coffee/tea maker</li>
                  <li class="list__item columns col--6 medium-4">Daily housekeeping</li>
                  <li class="list__item columns col--6 medium-4">Hair dryer</li>
                  <li class="list__item columns col--6 medium-4">Desk</li>
                  <li class="list__item columns col--6 medium-4">In-room climate control (air
                    conditioning)
                  </li>
                  <li class="list__item columns col--6 medium-4">Shower only</li>
                  <li class="list__item columns col--6 medium-4">In-room safe (laptop compatible)</li>
                  <li class="list__item columns col--6 medium-4">Digital TV service</li>
                  <li class="list__item columns col--6 medium-4">HDTV</li>
                  <li class="list__item columns col--6 medium-4">Down comforter</li>
                  <li class="list__item columns col--6 medium-4">Individually furnished</li>
                  <li class="list__item columns col--6 medium-4">Individually decorated</li>
                  <li class="list__item columns col--6 medium-4">Sleep Number by Select Comfort mattress
                  </li>
                  <li class="list__item columns col--6 medium-4">LCD TV</li>
                  <li class="list__item columns col--6 medium-4">Partially open bathroom</li>
                  <li class="list__item columns col--6 medium-4">Free cribs/infant beds</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="columns large-2">
              <strong>Food</strong>
            </div>
            <div class="columns large-10">
              A complimentary breakfast is included.
            </div>
          </div>

          <div class="row">
            <div class="columns large-2">
              <strong>Options</strong>
            </div>
            <div class="columns large-10">
              Enjoy recreation amenities such as bicycles to rent or take in the view from a rooftop terrace.
              Additional features at this hotel include complimentary wireless Internet access and tour/ticket
              assistance.
            </div>
          </div>

          <div class="row">
            <div class="columns large-2">
              <strong>Amenities for business travellers</strong>
            </div>
            <div class="columns large-10">
              Featured amenities include complimentary newspapers in the lobby, dry cleaning/laundry services,
              and
              a 24-hour front desk. A roundtrip airport shuttle is provided for a surcharge (available on
              request).
            </div>
          </div>

          <div class="row">
            <div class="columns large-2">
              <strong>Internet</strong>
            </div>
            <div class="columns large-10">
              <p>
                Available in all rooms:
                <strong>Free WiFi</strong>, Dial-up Internet access (surcharge)
              </p>

              <div>
                Available in public places:
                <strong>Free WiFi</strong>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
